asn1crypto==0.24.0
beautifulsoup4==4.6.3
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
cryptography==2.3.1
future==0.16.0
get==1.0.3
idna==2.7
lxml==4.2.4
post==1.0.2
public==1.0.3
pycparser==2.18
pyparsing==2.2.0
python-telegram-bot==11.1.0
query-string==1.0.2
request==1.0.2
requests==2.19.1
six==1.11.0
urllib3==1.23
